.container{
  background: rgb(20,210,255);
  background: radial-gradient(circle, rgba(20,210,255,1) 0%, rgba(15,15,139,1) 100%);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 3rem;
  margin-top: 4rem;
}
.container:hover{
  transform: scale(1.05); /* Ajusta el valor según el efecto deseado */
  transition: transform 0.2s ease;
}
.containerAssureImg{
  background-color: rgb(255, 250, 255);
  border-radius: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;

}
.titleContainer{
  display: flex;
  font-size: 5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;

}
.pictureContainer{
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  img{
    border-radius: 1.5rem;
    max-width: 80%;
  }
}
.contact{
  display: flex;
  h2{
    margin: 1rem;
    color: beige;
  }
  .contact-content{
    display: flex;
    img{
      height: 3rem;
      width: 3rem;
      margin: 1rem;
    }
    p{
      font-size: 2rem;
      margin: 1rem 1rem 1rem 0;
      color: beige;
    }
  }
}

.imgContainer:hover{
  opacity: 0.65;
}

@media screen and (max-width: 49.999em) {
  .container{
    flex-direction: column;
    padding: 1rem;
  }
  .contact{
    h2{
      font-size: 1.5rem;
      margin: 1rem 0 0 0;
    }
    .contact-content{
      font-size: 0.5rem;
      img{
        height: 2rem;
        width: 2rem;
      }
      p{
        font-size: 1.2rem;
      }
    }
  }

}
