<section class="container" id="company1" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div class="titleContainer">
    <h1>
      Companies I worked with & Contact
    </h1>
  </div>
  <div class="pictureContainer grid grid-cols-3 gap-x-6 gap-y-10 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
    <picture class="imgContainer flex items-center justify-center">
      <img class="h-full w-full object-cover object-center group-hover:opacity-75 "
      src="../../../assets/images/snapcoding-Logo.webp" alt="snapcoding-Logo">
    </picture>
    <picture class="imgContainer flex items-center justify-center">
      <img style="max-width: 100%;" class="object-center group-hover:opacity-75" src="../../../assets/images/assureLogo.webp" alt="assureLogo">
    </picture>
  </div>
  <hr>
  <div class="contact">
    <h2>Contact me at:</h2>
    <div class="contact-content">
      <img src="../../../assets/images/gmail.png" alt=""><p>imertpro@gmail.com</p>
    </div>
  </div>
</section>
