.container{
  background: rgb(20,210,255);
  background: radial-gradient(circle, rgba(20,210,255,1) 0%, rgba(15,15,139,1) 100%);
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  padding: 3rem;
  margin-top: 4rem;
}
.container:hover{
  transform: scale(1.05); /* Ajusta el valor según el efecto deseado */
  transition: transform 0.2s ease;
}
.containerAssureImg{
  background-color: rgb(255, 250, 255);
  border-radius: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;

}
.containerSnapImg{


}
