.containerSection{
  background: #2784EB;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin-top: 4rem;
  width: 100vw;
  position: absolute;
  left: 0;
}

.containerAssureImg{
  background-color: rgb(255, 250, 255);
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.titleContainer{
  display: flex;
  font-size: 5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.pictureContainer{
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
  .imgContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 1rem;
  }
  img{
    border-radius: 0.5rem;
    width: 80px;
  }
}
.contact{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  h2{
    margin: 1rem 1rem 1rem 0;
    color: beige;
  }
}

.imgContainer:hover{
  opacity: 0.65;
}

@media screen and (max-width: 440px) {
  .containerSection{
    flex-direction: column !important;
    padding-left: 1rem;
  }
  .contact{
    h2{
      font-size: 1.5rem;
      margin: 1rem 0 1rem 0;
    }
  }
  .pictureContainer{
    .imgContainer{
      width: auto;
    }
    img{
      width: 70px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .pictureContainer{
    width: 35vw;
  }
}