<section class="containerSection" id="companies">
  <div class="titleContainer">
    <h1 class="sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl">
      Companies I worked with & Contact
    </h1>
  </div>
  <div class="pictureContainer grid grid-cols-3 gap-x-6 gap-y-10 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
    <picture *ngFor="let company of companies">
      <a class="imgContainer "
      [href]="company.link" target="_blank">
        <img class="h-full w-full object-cover object-center group-hover:opacity-75"
        [src]="company.image" [alt]="company.alt">
      </a>
    </picture>
  </div>
  <hr>
  <div class="contact">
    <h2 class="sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl">Contact me at:</h2>
    <a class="contact-content" href="mailto:imertpro@gmail.com">
      <img src="../../../assets/images/gmail.png" alt="">
      <h2 class="sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl">imertpro@gmail.com</h2>
    </a>
  </div>
</section>
