<div class="containerNav">
  <div class="show-mobile">
    <nav>
      <ul>
        <li>
          <div class="profileNav">
            <a href="#profile" title="profile nav" [ngClass]="{ 'active': activeClass && componentActive == 'profileStyle' }" (click)="activateClass('profileStyle')"><img src="../../../assets/images/profile.png" alt="profile nav"></a>
          </div>
        </li>
        <li>
          <div class="profileNav">
            <a href="#projects" title="projects nav" [ngClass]="{ 'active': activeClass && componentActive == 'projectsStyle' }" (click)="activateClass('projectsStyle')"><img src="../../../assets/images/projects.png" alt="projects nav"></a>

          </div>
        </li>
        <li>
          <div class="profileNav">
            <a href="#articles" title="articles nav" [ngClass]="{ 'active': activeClass && componentActive == 'articlesStyle' }" (click)="activateClass('articlesStyle')"><img src="../../../assets/images/articles.png" alt="articles nav"></a>
          </div>
        </li>
        <li >
          <div class="profileNav">
            <a href="#techs" title="techs nav" [ngClass]="{ 'active': activeClass && componentActive == 'techsStyle' }" (click)="activateClass('techsStyle')"><img src="../../../assets/images/language.png" alt="techs nav"></a>
          </div>
        </li>
        <li>
          <div class="profileNav">
            <a href="#companies" title="companies nav" [ngClass]="{ 'active': activeClass && componentActive == 'companiesStyle' }" (click)="activateClass('companiesStyle')"><img src="../../../assets/images/company.png" alt="companies nav"></a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="containerNav">
  <div class="hide-mobile">
      <nav>
        <ul>
          <li>
            <div class="profileNav" style="margin-left: 1.5rem;">
              <a href="#profile" [ngClass]="{ 'active': activeClass && componentActive == 'profileStyle' }" (click)="activateClass('profileStyle')">Profile</a>
              <img src="../../../assets/images/profile.png" alt="profileNav">
            </div>
          </li>
          <li>
            <div class="profileNav">
              <a href="#projects" [ngClass]="{ 'active': activeClass && componentActive == 'projectsStyle' }" (click)="activateClass('projectsStyle')">Projects</a>
              <img src="../../../assets/images/projects.png" alt="projectsNav">
            </div>
          </li>
          <li>
            <div class="profileNav">
              <a href="#articles" [ngClass]="{ 'active': activeClass && componentActive == 'articlesStyle' }" (click)="activateClass('articlesStyle')">Articles</a>
              <img src="../../../assets/images/articles.png" alt="articles nav">
            </div>
          </li>
          <li>
            <div class="profileNav">
              <a href="#techs" [ngClass]="{ 'active': activeClass && componentActive == 'techsStyle'}" (click)="activateClass('techsStyle')">Techs</a>
              <img src="../../../assets/images/language.png" alt="languagesNav">
            </div>
          </li>
          <li>
            <div class="profileNav" style="margin-right: 1.5rem;">
              <a href="#companies" title="companies nav" [ngClass]="{ 'active': activeClass && componentActive == 'companiesStyle' }" (click)="activateClass('companiesStyle')">Companies</a>
              <img src="../../../assets/images/company.png" alt="companiesNav">
            </div>
          </li>
        </ul>
      </nav>
  </div>
</div>
