<div class="show-mobile">
  <nav>
    <ul>
      <li>
        <div class="profileNav">
          <a href="#profile" class="smooth-scroll" routerLinkActive="active" routerLink=""><img src="../../../assets/images/profile.png" alt=""></a>

        </div>
      </li>
      <li >
        <div class="profileNav">
          <a href="#projects" class="smooth-scroll" routerLinkActive="active" ><img src="../../../assets/images/projects.png" alt=""></a>

        </div>
      </li>
      <li >
        <div class="profileNav">
          <a routerLinkActive="active" ><img src="../../../assets/images/language.png" alt=""></a>

        </div>
      </li>
      <li >
        <div class="profileNav">
          <a href="#company" class="smooth-scroll" routerLinkActive="active" ><img src="../../../assets/images/company.png" alt=""></a>

        </div>
      </li>
    </ul>
  </nav>
</div>
<div class="containerNav">
  <div class="hide-mobile">
      <nav>
        <ul>
          <li>
            <div class="profileNav">
              <a href="#profile" class="smooth-scroll" routerLinkActive="active" routerLink="">Profile</a>
              <img src="../../../assets/images/profile.png" alt="">
            </div>
          </li>
          <li >
            <div class="profileNav">
              <a href="#projects" class="smooth-scroll" routerLinkActive="active" >Projects</a>
              <img src="../../../assets/images/projects.png" alt="">
            </div>
          </li>
          <li >
            <div class="profileNav">
              <a routerLinkActive="active" >Techs</a>
              <img src="../../../assets/images/language.png" alt="">
            </div>
          </li>
          <li >
            <div class="profileNav">
              <a href="#company" class="smooth-scroll" routerLinkActive="active" >Companies</a>
              <img src="../../../assets/images/company.png" alt="">
            </div>
          </li>
        </ul>
      </nav>
  </div>
</div>
