.show-mobile {
  font-size: 3rem;
  position: fixed;
  width: 100%;
  display: block;
  background: rgb(255, 250, 255);
  box-shadow: 0px 2px 5px rgb(black, .2);
   div {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      border: 0;
      margin: 0.5rem;
      //background: transparent;
    }
  }
}
#side-menu{
  justify-content: flex-start;
}
.show-menu {

  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 250, 255);
  flex-direction: column;
  transform: translateX(-100%);

  transition: all ease-out 0.5s;
  //si esta activo muestra el menu
  &.active{
    transform: translateX(0%);
  }
}
.hide-mobile {
  font-size: 2rem;
  background: rgb(255, 250, 255);
  display: none;
  box-shadow: 0px 2px 5px rgb(black, .2);
  > div {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    margin-right: 1em;
  }
  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      list-style: none;
      a {
        margin: 0 .2em;
        color: inherit;
        text-decoration: none;
        padding: .1rem 2rem;
        &.active{
          border: 1px solid #ACD9B2;
          color: #ACD9B2;
          border-radius: 5px;
        }
      }
    }
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .account {
      margin-right: .5em;
    }
    button{
      margin-right: calc(1rem - 10px);
    }
    .cart {
      position: relative;
      .counter {
        width: 20px;
        height: 20px;
        line-height: 20px;
        background: #ACD9B2;
        border-radius: 50%;
        display: block;
        color: white;
        text-align: center;
        position: absolute;
        top: -10px;
        right: -10px;
      }
    }
  }
}


/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}
