.containerNav{
  display: flex;
  width: 100%;
  justify-content: center;
}
.hide-mobile {
  margin: 2rem;
  padding: 2rem;
  font-size: 2rem;
  background: rgb(15,136,139);
  background: linear-gradient(180deg, rgba(15,136,139,1) 0%, rgba(183,196,0,1) 100%);
  border-radius: 15px;
  display: flex;
  position: fixed;
  width: 60%;
  align-content: center;
  > div {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    margin-right: 1em;
  }
  nav {
    display: flex;
    width: 100%;
    ul {
      display: flex;
      list-style: none;
      justify-content: space-between;
      width: 100%;
      a {
        color: inherit;
        text-decoration: none;
        padding: .1rem 0.5rem .1rem 0.5rem;
        &.active{
          border: 1px solid rgb(255, 250, 255);
          color: rgb(255, 250, 255);
          border-radius: 5px;
        }
      }
      a:hover{
        transform: scale(1.10);
        transition: transform 0.3s ease;
      }
    }
  }
}
.profileNav{
  display: flex;
  align-items: center;
  img{
    width: 2.5rem;
    height: 2.5rem;
  }
}
#profile{
  margin-left: 1.5rem;
}
#company{
  margin-right: 1.5rem;
}


/* Medium only*/
@media screen and (max-width: 49.999em){
  .containerNav{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .show-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 2rem;
    padding: 2rem;
    font-size: 2rem;
    background: rgb(15,136,139);
    background: linear-gradient(180deg, rgba(15,136,139,1) 0%, rgba(183,196,0,1) 100%);
    border-radius: 15px;
    position: fixed;
    width: 60%;
    align-content: center;
    > div {
      padding: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    nav {
      display: flex;
      width: 100%;
      ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 100%;
        a {
          margin: 0 1rem;
          color: inherit;
          text-decoration: none;
          padding: 0.5rem;
          &.active{
            border: 1px solid rgb(255, 250, 255);
            border-radius: 5px;
          }
        }
        a:hover{
          transform: scale(1.10);
          transition: transform 0.3s ease;
          border: 1px solid rgb(255, 250, 255);
          color: rgb(255, 250, 255);
          border-radius: 5px;
        }
      }
    }
  }
  .profileNav{
    display: flex;
    align-items: center;
    img{
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  .hide-mobile {
    display: none;
  }
}
@media screen and (min-width: 50em) and (max-width: 63.9375em) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}

/* Large and up*/
@media screen and (min-width: 64em) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}
