<div>
  <a class="projectTitle" [href]="projectReceived.source" target="_blank" *ngIf="projectReceived.source !== null; else nameProject">
    <h1 class="text-black">{{projectReceived.name}}</h1>
    <img class="imgIcon" src="../../../assets/images/github1.png" alt="github">
  </a>
  <ng-template #nameProject>
    <div class="projectTitle">
      <h1 class="text-black">{{projectReceived.name}}</h1>
    </div>
  </ng-template>
  <div
  class="imgContainer group aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
  (click)="openModal(template)">
    <img
    [src]="projectReceived.images[0]"
    alt="projectImage" class="h-full w-full object-cover object-center group-hover:opacity-75">
  </div>
  <a class="projectTitle" [href]="projectReceived.url" target="_blank" *ngIf="projectReceived.url !== null">
    <h1 class="text-black" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">{{projectReceived.url}}</h1>
    <img class="imgIcon" src="../../../assets/images/link.png" alt="github">
  </a>
</div>
<ng-template #template>
  <div class="modal-header">
    <h2 class="modal-title"><b>{{projectReceived.name}}</b></h2>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()" style="font-size: 24px; padding: 10px;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <swiper
      [config]="config"
      [navigation]="true"
      [pagination]="{ clickable: true }"
      [scrollbar]="{ draggable: true }"
    >
      <!-- Descripción del proyecto -->
      <ng-template swiperSlide>
        <div class="project-description">
          <h4>{{projectReceived.projectDescription.description}}</h4>
          <h4>
            <ul *ngFor="let feature of projectReceived.projectDescription.features">
                <li><b>{{feature.name}}</b></li>
                <p>{{feature.description}}</p>
            </ul>
          </h4>
        </div>
      </ng-template>
      
      <!-- Imágenes del proyecto -->
      <ng-template swiperSlide *ngFor="let img of projectReceived.images">
        <img [src]="img" alt="projectImages" class="img-fluid">
      </ng-template>
    </swiper>
  </div>
</ng-template>
