.projectTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  h1{
    font-size: 2rem;
    margin: 0;
  }

}
.imgContainer{
  display: flex;
  justify-content: center;
  img{
    max-width: 90%;
    height: 40rem;
  }
}
.modal-body{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  img{
    max-height: 80rem;
  }
}

.project-description {
  max-height: 75vh; /* Establece una altura máxima para el div */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido se desborda */
  width: calc(100% - 40px); /* Ajusta el ancho del div para que coincida con el ancho del modal-body (20px de margen a cada lado) */
  margin: 0 auto; /* Centra el div horizontalmente dentro del modal-body */
}
.imgIcon{
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
}

@media screen and (max-width: 767.99px) {
  .modal-body{
    img{
      max-height: 60rem;
    }
  }
}
