<section class="containerSection" id="techs" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div class="titleContainer">
    <h1>
      Techs & Languages I work with
    </h1>
  </div>
  <div class="pictureContainer grid grid-cols-2 gap-x-6 gap-y-10 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
    <picture *ngFor="let image of images" class="imgContainer flex items-center justify-center">
      <img [src]="image.image" alt="image" [title]="image.imageTitle">
    </picture>
  </div>
</section>

