.containerSection{
  background: rgba(244,255,60,1) 16%;
  display: block;
  border-radius: 15px;
  padding: 3rem;
  margin-top: 4rem;
}

.titleContainer{
  display: flex;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.containerSection:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
}

.pictureContainer{
  padding: 0 1rem;
  img{
    border-radius: 0.5rem;
    width: 100px;
  }
}
@media screen and (max-width: 1023.99px) {
  .containerSection{
    flex-direction: column;
    padding: 1rem;
  }
  .titleContainer{
    padding: 1rem;
  }
}

@media screen and (max-width: 440px) {
  .containerSection{
    padding: 1rem;
  }
  .pictureContainer{
    img{
      width: 80px;
    }
  }
}