<section class="container" id="techs">
  <div class="titleContainer">
    <h1>
      Techs & Languages I work with
    </h1>
  </div>
  <div class="pictureContainer grid grid-cols-3 gap-x-6 gap-y-10 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
    <picture class="imgContainer flex items-center justify-center">
      <img src="../../../assets/images/languages/js.png" alt="javascript">
    </picture>
    <picture class="imgContainer flex items-center justify-center">
      <img src="../../../assets/images/languages/typescript.png" alt="typescript">
    </picture>
    <picture class="imgContainer flex items-center justify-center">
      <img src="../../../assets/images/languages/nodejs.png" alt="nodejs">
    </picture>
    <picture class="imgContainer flex items-center justify-center">
      <img src="../../../assets/images/languages/expressIcon.png" alt="expressIcon">
    </picture >
    <picture class="imgContainer flex items-center justify-center">
      <img src="../../../assets/images/languages/nestjsIcon.png" alt="nestjsIcon">
    </picture>
    <picture class="imgContainer flex items-center justify-center">
      <img src="../../../assets/images/languages/file-type-angular.svg" alt="angular">
    </picture>
    <picture class="imgContainer flex items-center justify-center">
      <img src="../../../assets/images/languages/heroku_original_wordmark_logo_icon_146482.png" alt="heroku">
    </picture>
    <picture class="imgContainer flex items-center justify-center">
      <img src="../../../assets/images/languages/docker.webp" alt="docker">
    </picture>
    <picture class="imgContainer flex items-center justify-center">
      <img src="../../../assets/images/languages/github.png" alt="github">
    </picture>
  </div>
</section>

