.container{
  background: rgb(10, 36, 99);
  border-radius: 15px;
  padding: 3rem;
  margin: 4rem;
  font-size: 3rem !important;
  .imgContainer{
    display: flex;
    justify-content: center;
  }
  img{
    max-width: 90%;
  }
}

