.container{
  background: rgb(15,136,139);
  background: radial-gradient(circle, rgba(15,136,139,1) 0%, rgba(34,163,24,1) 90%);
  border-radius: 15px;
  padding: 3rem;
  margin: 4rem;
  font-size: 3rem !important;
  .imgContainer{
    display: flex;
    justify-content: center;
  }
  img{
    max-width: 90%;
  }
}

