<section class="containerSection" id="profile" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <picture class="containerImg">
      <div class="imgProfile" id="imgProfile"></div>
      <div class="icons" id="icons">
        <a href="https://www.linkedin.com/in/imertetsu/" target="_blank" aria-label="Ir a linkedin"
          class="text-black"><fa-icon [icon]="faLinkedin" size="4x" class="hover:text-white transition-colors duration-300 pr-2"></fa-icon></a>
        <a href="https://github.com/imertetsu" target="_blank" aria-label="Ir a github"
          class="text-black"><fa-icon [icon]="faGithub" size="4x" class="hover:text-white transition-colors duration-300 pl-2"></fa-icon></a>
      </div>
    </picture>
  <div class="titleProfile">
    <div class="terminalHeader">►►►</div>
    <div class="terminal">
      <h2 class="typing">
        <span class="type" id="type"></span>
      </h2>
      <h2 class="typing">
        <span class="type"></span>
      </h2>
      <h1 class="typing">
        <span class="type"></span>
      </h1>
      <h2 class="typing" >
        <span class="type"></span>
      </h2>
      <h2 class="typing" *ngIf="activeButton == false">
        <button class="type" (click)="clickFirstTimeLoadMore()" title="Load more information about my profile"></button>
        <button *ngIf="activeShowMore===false" (click)="clickLoadMore()">
          <span>Show more...</span>
        </button>
      </h2>

      <h2 class="typing" *ngIf="activeButton===true">
        <span class="type ">I am a person with the desire to learn more and seek new goals, with the knowledge that I acquired I am able to adapt to carry out the tasks that correspond to my area, ease of communication and team collaboration, the virtues that I have are punctuality, commitment and a good attitude towards the work that will be carried out.</span>
      </h2>
      <h2 class="typing" *ngIf="activeButton==true">
        <button (click)="clickLoadMore()"><span>Show less...</span></button>
      </h2>
      <h2 class="loading">
        <span class="loading-bar"></span>
      </h2>
    </div>
  </div>
</section>
