<section class="container" id="profile1">

    <picture class="containerImg">
      <div class="imgProfile" id="imgProfile"></div>
      <div class="icons" id="icons">
        <a target="_blank" href="https://www.linkedin.com/in/imer-vladimir-coaguila-pati%C3%B1o-97b887229/"><img class="imgIcon" src="../../../assets/images/logotipo-de-linkedin.png" alt=""></a>
        <a target="_blank" href="https://github.com/imertetsu"><img class="imgIcon" src="../../../assets/images/github.png" alt=""></a>
      </div>
    </picture>


  <div class="titleProfile">
    <div class="terminalHeader">►►►</div>
    <div class="terminal">
      <h2 class="typing">
        <span class="type" id="type"></span>
      </h2>
      <h2 class="typing">
        <span class="type" ></span>
      </h2>
      <h1 class="typing">
        <span class="type"></span>
      </h1>
      <h2 class="typing" >
        <span class="type"></span>
      </h2>
      <h2 class="typing" *ngIf="activeButton == false">
        <a (click)="clickFirstTimeLoadMore()"><span class="type">
        </span></a>
        <a *ngIf="activeShowMore===false" (click)="clickLoadMore()">
          <span>Show more...</span></a>
      </h2>
      <h2 class="typing" *ngIf="activeButton===true">
        <span class="type ">I am a person with the desire to learn more and seek new goals, with the knowledge that I acquired I am able to adapt to carry out the tasks that correspond to my area, ease of communication in a team, intermediate-advanced English, the virtues that I have are punctuality, commitment and a good attitude towards the work that will be carried out.</span>

      </h2>
      <h2 class="typing" *ngIf="activeButton==true">
        <a (click)="clickLoadMore()"><span>Show less...</span></a>
      </h2>
      <h2 class="loading">
        <span class="loading-bar"></span>
      </h2>
    </div>

  </div>
</section>
