<section class="container">

    <picture class="containerImg">
      <img class="imgProfile" src="../../../assets/images/knight.png" alt="knight">
      <div class="icons">
        <img src="../../../assets/images/logotipo-de-linkedin.png" alt="">
        <img src="../../../assets/images/github.png" alt="">
      </div>
    </picture>


  <div class="titleProfile">
    <h1>
      I'm Imertestsu
    </h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi recusandae dolores magni quae praesentium? Accusamus, tenetur distinctio. Hic quidem unde delectus ad, obcaecati sint ipsam provident odit exercitationem assumenda sed?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam impedit facilis culpa est vel, delectus, iusto ipsa rem alias fugit neque sit doloribus suscipit qui distinctio nesciunt velit repellat excepturi?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta modi deserunt aperiam id sunt delectus vero nobis ad, dolor sed quibusdam itaque laboriosam qui laborum dicta ex mollitia esse doloribus!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, sint possimus, totam delectus laborum quod reprehenderit eligendi quaerat quam sequi, fuga unde obcaecati explicabo cumque? Pariatur facilis culpa dolorem officiis!
    </p>
  </div>
</section>
