.container{
  background: rgb(15,136,139);
  background: linear-gradient(180deg, rgba(15,136,139,1) 16%, rgba(26,51,23,1) 82%);
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  padding: 3rem;
  margin-top: 13rem;

}
.container:hover{
  transform: scale(1.05); /* Ajusta el valor según el efecto deseado */
  transition: transform 0.2s ease;
  .imgProfile {
    background-image: url('../../../assets/images/imert.webp');
    background-size: cover;
    background-position: center;
    height: 30rem;
    width: 30rem;
    border-radius: 15px;
  }
}
.containerImg{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .imgProfile {
    background-image: url('../../../assets/images/knight.png');
    background-size: cover;
    background-position: center;
    height: 30rem;
    width: 30rem;
  }
  .icons{
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    img{
      height: 3rem;
      width: 3rem;
      margin: 1rem;
    }
    .imgIcon:hover{
      transform: scale(1.10);
      transition: transform 0.3s ease;
    }
  }
}
img{
  max-width: none;
}



.titleProfile{
  padding: 0 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  h2{
    span{
      font-size: 1.5rem;
      color: #00FF00;
      font-family: Monaco, Consolas, Menlo, Courier New, monospace;
    }
    button{
      font-size: 1.5rem;
      color: #00FF00;
      font-family: Monaco, Consolas, Menlo, Courier New, monospace;
    }
  }
  h1{
    font-size: 3.5rem;
    color: #00FF00;
  }
  p{
    font-size: 2rem;
  }
}
.loading-bar {
  display: inline-block;
  height: 2px;
  width: 20px;
  background-color: white;
  animation: loadingAnimation 1.5s infinite;
}
.terminal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  border-radius: 0 0 6px 6px;
  padding-top: 3rem;
  padding-left: 2rem;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}
.terminalHeader{
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 90%;
  font-size: 1rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
  border-radius: 6px 6px 0 0;
  margin-top: 1rem;
}

.typing .text {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s steps(40, end);
  width: 0;
}
@keyframes loadingAnimation {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}


/* Animación para el efecto de escritura */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 1023.99px) {
  .container{
    flex-direction: column;
    padding: 1rem;
  }
  .titleProfile{
    padding: 0;
  }
}
