/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  font-family: 'Quicksand', sans-serif;
}

html, body { height: 100%; font-size: 62.5%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  display: flex;
  background-image: url('/assets/images/backgroundImg.jpg');
  justify-content: center;
}
