/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';


@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  font-family: 'Quicksand', sans-serif;
}

html, body { font-size: 62.5%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  display: flex;
  background-image: url('/assets/images/bgCode.webp');
  justify-content: center;
  width: 100%;
}
app-root{
  width: 80%;
}
.modal-content{
  width: 100rem !important;
  max-width: 150% !important;
}
.modal-dialog{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.swiper-slide{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
@media screen and (max-width: 767.99px) {
  .modal-content{
    width: 100% !important;
    max-height: 80rem !important;
  }
  app-root{
    width: 90%;
  }
}
